html {
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E5;
}
/** Left-bar **/
.chat-container {
  display: flex;
  width: 1024px;
  height: 768px;
}

.left-bar {
  background-color: #01134e;
  width: 80px;
  height: 100%;
}

.left-bar-logo {
  padding: 18px 23px;
}

.left-bar-block {
  padding-top: 25px;
}

.left-bar-block-item img {
  padding: 25px 30px 21px;
}
.left-bar-block-notificate {
  position: absolute;
  top: 101px;
  left: 18px;
}
.left-bar-block-item-selected {
  position: relative;
  top: -86px;
  left: -31px;
}

/** Main **/
/* main header */
.main {
  width: 100%;
  height: 100%;
  background-color: #F9FAFC;
}

.main-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 0 3px #f9fafc;
}

.main-header-nav a {
  text-decoration: none;
  color: #252f48;
  font-size: 13px;
  line-height: 15px;
}

.main-header-nav {
  display: flex;
  padding-left: 40px;
  padding-top: 25px;
}

.main-header-nav-vector img {
  padding: 2px 15px;
}
.header-user-area {
  display: flex;
  align-items: center;
  padding: 14px 34px;
}
.header-user-area div{
  margin: 0px 4px;
}
.header-user-area-avatar {
  object-fit: cover;
  height: 23px;
  width: 22px;
  border-radius: 12px;
}
.header-user-area span {
  font-size: 15px;
  line-height: 16px;
}

/* users list */
.users-chat {
  display: flex;
  margin: 42px;
}

.users-chat-left-group {
  width: 300px;
  min-height: 300px;
  background-color: #f7f9fc;
  border-right: 1px solid #EDF0F4;
}
.users-chat-left-group-user-item {
  display: flex;
  height: 91px;
  margin: 1px 0;
}
.users-chat-left-group-user-item-read {
  display: flex;
  height: 91px;
  background-color: #ffffff;
  margin: 1px 0px;
}
.users-chat-left-group-user-item-read-active {
  display: flex;
  height: 91px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(153, 163, 174, 0.1465);
  border-bottom: #f7f9fc;
  margin: 1px 0px;
}
.users-chat-left-group-user-item-avatar img {
  object-fit: cover;
  margin: 22px 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.users-chat-left-group-user-item-data {
  position: relative;
  margin: 26px 0px;
}
.users-chat-left-group-user-item-data-name {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.users-chat-left-group-user-item-data-text {
  font-size: 14px;
  line-height: 18px;
  color: #252f48;
  opacity: 0.48;
}
.users-chat-left-group-user-item-data-time {
  position: absolute;
  top: -5px;
  left: 180px;
  color: #9ba0ad;
  font-size: 12px;
}
.users-chat-left-group-user-item-notificate {
  margin: 0px -3px 9px;
}

.users-chat-left-group-user-item-mute {
  padding: 0px 3px;
}

/* main */

.users-chat-main-group {
  background-color: #FFFFFF;
  width: 560px;
  height: 552px;
}

.users-chat-main-group-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 47px;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F6F9;
}

.users-chat-main-group-search-icon img {
  padding: 7px 16px 0px;
}

.users-chat-main-group-search-area {
  font-size: 14px;
  color: #252F48;
  opacity: 0.3;
}

.users-chat-main-group-write-messages-add-smile,
.users-chat-main-group-write-messages-clip,
.users-chat-main-group-write-messages-sent-messages {
  padding: 10px;
}
.users-chat-main-group-write-messages {
  display: flex;
  align-items: center;
  width: 100%;
  height: 61px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(153, 163, 174, 0.1465);
}
.users-chat-main-group-write-messages-area {
  width: 100%;
}
.users-chat-main-group-write-messages-area span {
  color: #252F48;
  opacity: 0.2;
  padding: 10px;
}

.users-chat-main-group-write-messages-sent-messages button {
  padding: 7px 8px 4px 7px;
  border-radius: 8px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 5px rgba(153, 163, 174, 0.1465);
}

.users-chat-main-group-dialog-window {
  overflow-y: scroll;
  height: 442px;
}


/* User dialog */
.users-chat-main-group-dialog-window-user-dialog {
  display: flex;
  align-items: flex-end;
  margin: 15px;
}

.users-chat-main-group-dialog-window-user-dialog-avatar img {
  object-fit: cover;
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
.users-chat-main-group-dialog-window-user-dialog-block {
  border: 8px solid transparent;
  border-right: 8px solid #F7F9FC;
  border-bottom: 5px solid #F7F9FC;
}
.users-chat-main-group-dialog-window-user-dialog-data {
  display: flex;
  align-items: flex-end;
  background-color: #F7F9FC;
}

.users-chat-main-group-dialog-window-user-dialog-text {
  width: 300px;
  color: #222428;
  font-size: 14px;
  line-height: 20px;
}
.users-chat-main-group-dialog-window-user-dialog-text p {
  margin: 12px 0 12px 14px;
}
.users-chat-main-group-dialog-window-user-dialog-time p {
  margin: 0px 12px 12px 1px;
  color: #9BA0AD;
  font-size: 12px;
}


/* Your dialog */

.users-chat-main-group-dialog-window-dialog-your {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px;
}

.users-chat-main-group-dialog-window-dialog-block {
  border: 8px solid transparent;
  border-left: 8px solid #F7F9FC;
  border-bottom: 5px solid #F7F9FC;
}

.users-chat-main-group-dialog-window-dialog-data {
  display: flex;
  align-items: flex-end;
  background-color: #F7F9FC;
}

.users-chat-main-group-dialog-window-dialog-text {
  width: 300px;
  color: #222428;
  font-size: 14px;
  line-height: 20px;
}
.users-chat-main-group-dialog-window-dialog-text p {
  margin: 12px 0 12px 14px;
}
.users-chat-main-group-dialog-window-dialog-time p {
  margin: 0px 12px 12px 1px;
  color: #9BA0AD;
  font-size: 12px;
}

.users-chat-main-group-dialog-window-chat-date-message {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #CACED9;
  margin: 60px 0px;
}